.box_1 {
	margin: 0 auto;
	max-width: 1500px;
	background: #9E9E9E;
}
.checkbox1 {
	height: 150px;
	background-color: white ;
	border-top: 10px solid;
	border-bottom: 10px solid;
	border-color: white;
}
.checkbox2 {
	height: 320px;
	background: white;
	border-top: 10px solid;
	border-bottom: 10px solid;
	border-color: white;
}
.checkbox3 {
	clear: both;
	height: 185px;
	background: red;
	border-top: 20px solid;
	border-bottom: 10px solid;
	border-color: white;
}
.checkbox4 {
	clear: both;
	height: 135px;
	border-top: 20px solid;
	border-bottom: 10px solid;
	border-color: white;
	background: yellow;
}
 .box_11 {
 	float: left;
 	width: calc(50% - 20px);
 	border-left: 10px solid white;
 	border-right: 10px solid white; 
 	background: red;
 	height: 150px;
 		
 }
 .box_21 {
 	float: left;
 	width: calc(50% - 20px);
 	border-left: 10px solid white;
 	border-right: 10px solid white; 
 	background: #33691E;
 	height: 320px;
 		
 }
 .box_32 {
 	clear: both;
 	height: 155px;
	background-color: white	;
	border-bottom: 20px solid;
	border-color: white;

 }
 .box_223 {
 	float: left;
 	width: calc(33.3333333% - 13.4px);
 
 	background: #212121;
 	height: 100%;

 }
 #box_22 { 
 	border-left: 20px solid white;
 	border-right: 20px solid white;

 }

.box_232 {
	height: 150px;
	background-color: white;
	border-top: 10px solid;
	border-bottom: 10px solid;
	border-color: white;

}
.box_111 {
 	float: left;
 	width: calc(50% - 10px);
	border-right: 10px solid white; 
 	background: red;
 	height:145px;
 }

.box_112 {
 	float: left;
 	width: calc(50% - 10px);
	border-left: 10px solid white; 
 	background: red;
 	height:145px;
 }
.box_31 {
	float: left;
	width: calc(34% - 20px);
	border-left: 10px solid white; 
	border-right: 10px solid white; 
	height: 100%
}
.box_312 {
	float: left;
	width: calc(16% - 20px);
	border-left: 10px solid white; 
	border-right: 10px solid white; 
	height: 100%;

}
.box_41, .box_42, .box_43 {
	float: left;
	border-left: 10px solid white; 
	border-right: 10px solid white; 
	height: 100%;

}
.box_41 {
	width: calc(17% - 20px);
}
.box_42 {
	width: calc(51% - 20px);
}
.box_43 {
	width: calc(32% - 20px);
}